{% extends 'base.html' %}
{% block title %}Admin Dashboard - AIC-CIIC{% endblock %}

{% block content %}

<h1 class="mb-4">
    Admin Dashboard
</h1>

<div class="row g-3 mb-5">

    <div class="col-md-2">
        <a href="{% url 'applications:admin_list' %}" class="text-decoration-none">
            <div class="card stat-card text-center p-3 h-100">
                <h3>{{ new_applications_count }}</h3>
                <small class="text-dark">Applications</small>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="{% url 'services:admin_list' %}" class="text-decoration-none">
            <div class="card stat-card text-center p-3 h-100">
                <h3>{{ new_service_count }}</h3>
                <small class="text-dark">Services</small>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="{% url 'labs:admin_list' %}" class="text-decoration-none">
            <div class="card stat-card text-center p-3 h-100">
                <h3>{{ new_lab_count }}</h3>
                <small class="text-dark">Lab Bookings</small>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="{% url 'halls:admin_list' %}" class="text-decoration-none">
            <div class="card stat-card text-center p-3 h-100">
                <h3>{{ new_hall_count }}</h3>
                <small class="text-dark">Hall Bookings</small>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="{% url 'feedback:admin_complaint_list' %}" class="text-decoration-none">
            <div class="card stat-card text-center p-3 h-100">
                <h3>{{ new_complaint_count }}</h3>
                <small class="text-dark">Complaints</small>
            </div>
        </a>
    </div>

</div>

{% endblock %}